@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.font-outline {
  -webkit-text-stroke: 1px gray;
}


body {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #93b1be, #e2e1df, #d0c9ca, #e2c6c2);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}